* {

}
body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-image: url('https://thebitcoinpub-91d3.kxcdn.com/uploads/default/original/2X/3/32a6d325b043b106b6eb05ad15fde357741e9b0f.jpg');
}

a {
  text-decoration: none;
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

.main-content {
  display: none;
}

.landing-modal {
  height: 100%;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  background-color:black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.landing-modal p,
.landing-modal a {
  font-size: 30px;
  color: white;
}

.intro ul {
  text-decoration: underline;
}

.definition {
  font-size: 14px;
}

.landing-modal button {
  font-size: 20px;
  padding: 7px;
  border-radius: 2px;
}

/* .landing-modal button:hover {
  transform: scale(1.05);
} */

.landing-game-title {
  font-size: 80px;
  color: white;
  margin-bottom: 30px;
}

.landing-author {
  margin-bottom: 67px;
}

.landing-game-title,
.landing-author,
.game-title,
.author {
  font-weight: 500;
}

.game-title {
  color: white;
  font-size: 30px;
  margin-bottom: 7px;
}

.author {
  margin: 0 0 7px 0;
  color: #5bc2bf;
  font-size: 24px;
}

.intro {
  margin-bottom: 77px;
}

.intro p {
  margin-bottom: 0;
  margin-top: 0;
}

.intro .definition {
  font-size: 20px;
  margin-top: 40px;
}

/* .social-links p,
.intro p {
  box-shadow: 0 0 77px 49px rgba(255,231,255,0.25);
  background: rgba(255,231,255,0.24);
} */

.game-container {
  width: 1400px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.scoreboard-info {
  display: block;
  background: white;
  margin-bottom: 375px;
  padding: 7px 17px;
  font-size: 22px;
  border: 2px solid #ff3850;
  border-radius: 4px;
}

.time,
.moves {
  color: #ff3850;
  font-weight: bold;
  display: inline-block;
  padding: 4px;
  border-radius: 6px;
}

.buttons-container,
.content-container {
  width: 400px;
  text-align: -webkit-center;
  margin-left: 45px;
  margin-right: 45px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-container p,
.content-container p {
  font-weight: 600;
  color: #ff3850;
}

.social-links p {
  font-size: 21px;
  padding: 5px;
  border: 3px solid white;
  border-radius: 7px;
}

.buttons-container h1 {
  color: #00dcf6;
  font-weight: 400;
}

.game-container button {
  width: 200px;
  display: block;
  padding: 9px;
  font-size: 22px;
  border-radius: 2px;
  outline: none;
}

.landing-modal button,
.links-container button,
.new-game-button,
.modal-button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.new-game-button:hover {
  border: 1px solid #ff3850;
  background: #ff3850;
  color: white;
}

.game-container button:active {
  background: #ff3850;
  color: white;
}

.links-container button {
  margin-top: 25px;
}

.landing-modal button:hover,
.links-container button:hover,
.modal-button:hover {
  background: #ff3850;
  border: 1px solid #ff3850;
  color: white;
  outline: none;
}

.landing-modal button:active,
.game-container button:active,
.modal-content > button:active {
  background: #ff3850;
  border: 1px solid #ff3850;
  color: white;
  outline: none;
}

.card-container {
  height: 90vh;
  width: 1900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px;
  border-radius: 2px;
  background-color: white;
}

.card-content {
  margin-bottom: 7px;
  height: 32%;
  width: 24%;
  border-radius: 6px;
  perspective: 600px;
  position: relative;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.card__face {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card__face--front {
  background: #ff3850;
  border-radius: 3px;
}

.card__face--back {
  background-image: url('https://img.washingtonpost.com/news/the-intersect/wp-content/uploads/sites/32/2015/04/putin-meme.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.card-content.is-flipped {
  transform: rotateY(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 175px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  width: 45%;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 3px solid #ff3850;
  border-radius: 6px;
  font-size: 22px;
}

.close {
  color: #ff3850;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff3850;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > button {
  width: 200px;
  margin-top: 45px;
  padding: 9px;
  font-size: 22px;
  border: 2px solid lightgray;
  border-radius: 6px;
  outline: none;
}
